p {
    color: rgb(194, 128, 47);
}
span.special {
    color: crimson;
    font-weight: bold;
}

li em {
    color: rgb(127, 136, 255);
}

h1 + p {
    font-size: 200%;
}

a:link {
    color: rgb(39, 184, 26);
}

a:visited {
    color: rgb(238, 170, 170);
}

a:hover {
    text-decoration: none;
}

ul {
    border: 5px solid purple;
    background-color: #eeeeee;
    padding: 5px;
}
/* 
article p span { color: yellow; }

h1 + ul + p { color: blue; } 

body h1 + p .special {
    color: yellow;
    background-color: black;
    padding: 5px;
}
*/

