html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  background-color: #ceeef8;
}

body {
  width: 90%;
  margin: 0 auto;
}

header {
  font-family: 'Sonsie One', cursive;
  color: rgb(29, 115, 196);
  text-shadow: 4px 4px 4px rgb(39, 126, 184);
  font-size: 20px;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}

img {
 
}

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #444343;
}

p, input, li {
  font-family: 'Nunito', sans-serif;
  color: #383636;
}

h1 {
  font-size: 2rem;
  text-align: center;
  color: rgb(52, 117, 216);
  text-shadow: 2px 2px 10px rgb(79, 156, 207);
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

p, li {
  font-size: 1rem;
  
}

nav, article, aside, footer {
  background-color: white;
  padding: 2%;
}

nav {
  height: 50px;
  background-color: #7dc6f7;
  display: flex;
  margin-bottom: 10px; 
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(17, 16, 16);
}

nav form {
  flex: 1;
  display: flex;
  align-items: center;
}

button {
  font-size: auto;
  height: 32px;
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: rgb(255, 255, 255);
}

input {
  font-size: 1rem;
  height: 32px;
}

input[type="search"] {
  flex: 3;
  border: 0;
  margin-left: 1rem;
}

input[placeholder="Search query"] {
  color: rgb(32, 32, 32);
  background: #f0f0f0;
}

input[type="submit"] {
  flex: 1;
  background: #353535;
  border: 0;
  color: rgb(226, 223, 223);
}

main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  
  flex: 1;
  margin-left: 10px;
  background-color: #9bcff1;
}

aside li {
  padding-bottom: 10px;
}

footer {
  margin-top: 10px;
}